/*

  Design settings of html Elements

*/
h1,
h3,
h4 {
  font-weight: lighter;
  text-transform: uppercase;
}
h1,
h2 {
  margin-bottom: 0;
}
h3 {
  padding-left: .5em;
}
h4 {
  margin-top: 0;
}
/*

  Semantic Elements

*/
body {
  font-family: sans-serif;
  background-color: lightblue;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-top: 100px;
}

figure {
  color: black;
  text-align: center;
}

/* Header fixed at top of the page */

header {
  background-color: lightblue; /* Hiding content scrolling over the header */
  border-width: 0 0 thick 0;
  border-color: #7d97ad;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;           /* same max width as body   */
  padding-top: 5px;
  position: fixed;             /* fixed header  at the top */
  top: 0;

  width: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#recent {
  width: 100%;
}

/*****************************

  Settings of Classes and Ids

*****************************/

/*Setting a back ground for the illustration image */

#illustration {
  background-color: #02b3e4;
  font-size: 3em;
  height: 400px;
  margin: 0em;
  width: 100%;
}

/* Initial settings of the illustration image */

.img-illustration {
  object-fit: contain;
  max-width: 30%;
}

/* Initial settings of the job in the header */

#job {
  font-weight: lighter;
  margin-right: 5px;
  text-align: right;
  text-transform: uppercase;
  width: 100%
}

/* Initial design of the name and logo in the header */

#name {
  background-image: url("../img/logo.svg");
/* credit for responsive image:
    https://pixabay.com/       */
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 3em;
  font-weight: lighter;
  margin-top: 0;
  margin-right: 5px;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
}

/* Initial design of each project */

.project {
  margin: 0;
  width: 33%;
}

/* setting the container for projects as a flexbox */

#project-all {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* Initial settings of each proect image */

.projectImg {
  box-sizing: border-box;
  border-style: solid;
  max-width: 100%;
  min-height: 300px;
  object-fit: cover;
}

/* setting the design of the icons */

.social {
  border-color: #7d97ad;
  border-style: solid;
  border-width: thick 0 0 0;
  width: 25%;
}

/* Setting the footer as a flexbox for the icons */

.social-footer {
  display: flex;
  flex-wrap: wrap;
}

.social-icons {
  width: 32px;
  margin: 20px;
  border-width: thin;
  border-style: solid;
  margin-left: 20%;

}

/* Setting the work conainer as a a flexbox */

#work{
  box-sizing: border-box;
  color: #7d97ad;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/*******************************

    Breakpoints

*******************************/

/*******************************

  Breakpoint for very small
  screens

*******************************/

@media screen and (max-width: 380px) {
  #name {
  font-size: 0.7em;
  }
  #job {
  font-size: 0.9em;
  }
/*  .description {
    font-size: 1em;
    height: 15%;
    padding-top: 250px;
  } */

  #illustration {
    font-size: 1.5em;
    height: 200px;
  }

  .logo {
    width: 20%; /*
    max-width: 3em;
    max-height: 3em;*/
  }
  .project {
    width: 100%;
  }
}

/*******************************

  Breakpoint for Nexus 5

  Actual width of Nexus 5 is 640
  but breakpoint is set at 655
  for better responsivness on
  other width

********************************/

@media screen and (min-width: 381px) and (max-width: 655px) {
/*  main {
    padding-top: 80px;
    }*/

  #name {
    font-size: 1em;
  }

  #job {
    font-size: 1.1em;
  }

  /*.description {
    font-size: 1em;
    height: 15%;
    padding-top: 250px;
  }*/

  #illustration {
    font-size: 1.5em;
    height: 200px;
  }

  .logo {
    width: 20%; /*
    max-width: 3em;
    max-height: 3em;*/
  }
  .project {
    width: 100%;
  }
}


/*******************************

    Breakpoint for vertical iPad


*******************************/

@media screen and (min-width: 656px) and (max-width: 768px) {

  /*.description {
    padding-top: 450px;
  }
  /* Set illustration like a left side bar */
  #illustration {
    width: 20%;
    background-size: contain;
    font-size: 1.5em;
    height: auto;
  }
  .img-illustration {
    max-width: 100%;
  }

    #name {
      font-size: 1em;
    }

    #job {
      font-size: 1.2em;
    }

  /* Display projects verticatilly in the rest of the screen */

  #project-1 {
    width: 100%;
  }

  #project-2 {
  width: 100%;
  }

  #project-3 {
    width: 100%;
  }

  #project-all {
    width: 80%;
  }
}

/************************************

    Breakpoint for horizontal iPad

      Illustration as a left side bar
      First project full width of the
      rest of screens
      2 last project 50% each

************************************/

@media screen and (min-width: 769px) and (max-width: 1024px) {

  /* Setting sze and all for the illustration image */

  #illustration {
    width: 20%;
    background-size: contain;
    font-size: 1.2em;
    padding-top: 1em;
    height: auto;
    }

    .img-illustration {
      max-width: 100%;
    }

  /* Adjust size of text in the header */

  #job {
    font-size: 1.2em;
  }

  #name {
    font-size: 1em;
  }

  /* Setting width of projects */

  #project-1 {
    width: 100%;
  }

  #project-2 {
  padding-right: 1%;
  width: 49%;
  }

  #project-3 {
    width: 50%;
  }

  #project-all {
    width: 80%;
  }
  /* Ajdust padding to get "Recent works" at the proper place */

  #recent {
    padding-top: .75em;
  }
}
/************************************

    Breakpoint for desktop


************************************/

@media screen and (min-width: 1025px) {

    /* Adjust padding to Display
       "Responsive design matters"
       inside the image             */

  .content {
    padding-top: 100px;
  }

  /* Illustration image full width */

  #illustration {
    width: 100%;
    background-size: contain;
    height: auto;
  }

  #name {
    font-weight: lighter;
  }

  /* one third of the width for each project */

  .project {
    width: 33.33%;
    }

  /* Middle project has margins      */

  #project-2 {
    padding-left: 1%;
    padding-right: 1%;
    width: 31.66%;
    }

  #project-3 {
    width: 33%;
  }

  #project-all {
    width: 100%
  }

  #recent {
    padding-top: .75em;
  }
}
